    <article class="post">
        <h3>{{ meta.title }}</h3>
        {% include "partials/content.page_header.html.twig" %}
        <div class="metadata">
            <p class="author">{{ meta.author }}</p>
            <p class="date">{{ meta.date|date("l jS F, Y")}} </p>
        </div>

        <p class="">{{ content }}</p>
    </article>

    {% if meta.changelog %}
        <div id="change-log">

            <input id="_1" type="checkbox"> 
            <label class="heading" for="_1"> 
                <i class="fa fa-angle-right"></i>
                Change Log
            </label>
            <ul>
                {% for change in meta.changelog %}
                    <li>
                    {{ change.date }}<br />
                    {{ change.change }}
                    </li>
                {% endfor %}
            </ul>
        </div<        
    {% endif %}